apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: counter
  template:
    metadata:
      labels:
        app: counter
    spec:
      containers:
        - name: app
          image: counter:latest
          ports:
            - containerPort: 8000
          env:
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
          imagePullPolicy: Never
          resources:
            limits:
              cpu: "300m"
              memory: "256Mi"
            requests:
              cpu: "300m"
              memory: "256Mi"

