services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "80:8000"
    depends_on:
      - redis
    restart: always
    mem_limit: 256m
    cpus: 0.3

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "60", "1", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always
    mem_limit: 512m
    cpus: 0.5

volumes:
  redis_data:
